
a {
    color:blue;
    text-decoration: none;
}


a:hover {
    color: green;
    
}

a:active {
    color: red;
}


a:visited {
    color: purple;
}

.secondary-links {
    color: red;
}